SQLAlchemy~=1.4.44
alembic~=1.8.1
python-dotenv==0.21.0
asyncpg~=0.27.0
psycopg2-binary
fastapi~=0.87.0
uvicorn
sentry_sdk
aiohttp~=3.8.3
accessify~=0.3.1

# dev
pytest
pydantic~=1.10.2
black
darglint
flake8-bandit
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-docstrings
flake8-eradicate
flake8-isort
flake8-pytest-style
flake8-spellcheck
pep8-naming
isort


anyio~=3.6.2
starlette~=0.21.0
loguru~=0.6.0